<a href="https://colab.research.google.com/github/Fundkdh/algorithm-2022/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#2023 3차시 팀과제
#서울자전거데이터 머신러닝

#Y(종속변수): 빌린 자전거 개수
#X(독립변수) : 습도
#X(통제변수) : 온도 , 풍속

In [1]:
import pandas as pd
import numpy as np

#서울시자전거데이터 마운트트
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/SeoulBikeData.csv", encoding = "cp949")
df

,Date,Rented Bike Count,Hour,Temperature(캜),Humidity(%),Wind speed (m/s),Visibility (10m),Dew point temperature(캜),Solar Radiation (MJ/m2),Rainfall(mm),Snowfall (cm),Seasons,Holiday,Functioning Day
0,01/12/2017,254,0,-5.2,37,2.2,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes
1,01/12/2017,204,1,-5.5,38,0.8,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes
2,01/12/2017,173,2,-6.0,39,1.0,2000,-17.7,0.0,0.0,0.0,Winter,No Holiday,Yes
3,01/12/2017,107,3,-6.2,40,0.9,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes
4,01/12/2017,78,4,-6.0,36,2.3,2000,-18.6,0.0,0.0,0.0,Winter,No Holiday,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,30/11/2018,1003,19,4.2,34,2.6,1894,-10.3,0.0,0.0,0.0,Autumn,No Holiday,Yes
8756,30/11/2018,764,20,3.4,37,2.3,2000,-9.9,0.0,0.0,0.0,Autumn,No Holiday,Yes
8757,30/11/2018,694,21,2.6,39,0.3,1968,-9.9,0.0,0.0,0.0,Autumn,No Holiday,Yes
8758,30/11/2018,712,22,2.1,41,1.0,1859,-9.8,0.0,0.0,0.0,Autumn,No Holiday,Yes
8759,30/11/2018,584,23,1.9,43,1.3,1909,-9.3,0.0,0.0,0.0,Autumn,No Holiday,Yes

In [2]:
from sklearn.model_selection import train_test_split # train set과 test set을 나눈다
from sklearn.model_selection import cross_val_score
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import accuracy_score

In [3]:
df.columns

Index(['Date', 'Rented Bike Count', 'Hour', 'Temperature(캜)', 'Humidity(%)',
       'Wind speed (m/s)', 'Visibility (10m)', 'Dew point temperature(캜)',
       'Solar Radiation (MJ/m2)', 'Rainfall(mm)', 'Snowfall (cm)', 'Seasons',
       'Holiday', 'Functioning Day'],
      dtype='object')

In [4]:
#칼럼 열 삭제제
df1 = df.drop(['Date', 'Hour', 'Visibility (10m)', 'Dew point temperature(캜)',
       'Solar Radiation (MJ/m2)', 'Rainfall(mm)', 'Snowfall (cm)', 'Seasons',
       'Holiday', 'Functioning Day'], axis = 1)

In [5]:
df1.columns

Index(['Rented Bike Count', 'Temperature(캜)', 'Humidity(%)',
       'Wind speed (m/s)'],
      dtype='object')

In [6]:
#변수 rename 
df1.rename(columns={'Rented Bike Count': '빌린 자전거 갯수', 'Temperature(캜)': '온도', 'Humidity(%)':'습도'
                    ,'Wind speed (m/s)': '풍속'},inplace=True)

In [7]:
df1.columns

Index(['빌린 자전거 갯수', '온도', '습도', '풍속'], dtype='object')

In [24]:
df1

      빌린 자전거 갯수   온도  습도   풍속
0           254 -5.2  37  2.2
1           204 -5.5  38  0.8
2           173 -6.0  39  1.0
3           107 -6.2  40  0.9
4            78 -6.0  36  2.3
...         ...  ...  ..  ...
8755       1003  4.2  34  2.6
8756        764  3.4  37  2.3
8757        694  2.6  39  0.3
8758        712  2.1  41  1.0
8759        584  1.9  43  1.3

[8760 rows x 4 columns]

In [19]:
X = df1[["풍속", "습도", "온도"]]
Y = np.log1p(df1["빌린 자전거 갯수"])

In [21]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=42)

In [10]:
df1.isnull().sum()

빌린 자전거 갯수    0
온도           0
습도           0
풍속           0
dtype: int64

In [23]:
from sklearn.svm import SVR
from math import sqrt
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import classification_report#분류모형 도표값을 출력하는 패키지지
from sklearn.metrics import mean_squared_error

scaler = StandardScaler().fit(X_train, Y_train)
X_test = scaler.transform(X_test)
X_train = scaler.transform(X_train)


SVR_model = SVR(C=1, kernel = "linear", epsilon=0.1)
SVR_model.fit(X_train, Y_train)
Y_pred = SVR_model.predict(X_test)
print("accuracy:{:.3f}".format(rmse))
rmse = sqrt(mean_squared_error(Y_test, Y_pred))
print("RMSE: {:.3f}".format(rmse))
print(SVR_model.coef_)

accuracy:1.389
RMSE: 1.389
[[ 0.01303542 -0.34945567  0.72286966]]